body,
html {
  width:  100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;

  /* background: url("public/yhkg_auto_x2.jpg") no-repeat center center fixed; */

/*
  background: url(../../../../../computer_startup_img.jpg) no-repeat center center fixed;
*/
  
}

hr{
  border-color: #2B2C7F;
  border-width: 3px;
  max-width: 65px;
}

h1{
  font-size: 3em;
  color: #ffff;
}
.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-xl{
  padding: 1em 2em;
}

.btn-primary{
  background-color: #2B2C7F;
  border-color: #2B2C7F;
}

.btn-primary:hover{
  background-color: #2B2C7F;
  border-color: #2B2C7F;
  border-width: 4px;
  margin: -3px;
}
.buffer{
  height: 8.5em;
}

.bg-blue {
    background-color: #2B2C7F;
    
}

@media screen and (min-width: 801px) {
    .isTinyDShow {
        display: none;
    }
}


@media screen and (max-width: 800px) {
    .isTinyDHide {
        display: none;
    }
    .isTinyDShow {
        display: 1;
    }
}